* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 16px4;
}

:root #container.container {
  color: blue;
}
.container {
  color: red;
}
.container:hover {
  color: yellow;
}

div {
  color: pink;
}
body div.container#container {
  color: blueviolet;
}
