@font-face {
  font-family: "IranSans";
  src: url(IRANSansXRegular.ttf);
}
h1 {
  font-family: "IranSans";
  background-color: pink;
  height: 50vw;
}

h2 {
  font-family: "IranSans";
  text-align: center;
  background-color: hotpink;
  height: 50;
}
p {
  font-family: "IranSans";
  text-align: center;
  font-weight: bold;
  font-size: 12;
}
