* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 16px;
}

table,
th,
td {
  padding: 5px 15px;
}

table {
  border-collapse: collapse;
}

td {
  text-align: center;
}
th {
  vertical-align: bottom;
  border-bottom: 1px solid gray;
  background-color: aliceblue;
}
tr:not(:first-child):not(:last-child) {
  border-bottom: 1px solid gray;
}

tr:not(:first-child):nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}
